#paragraph {
    font-family: "Times New Roman", "Comic Sans";
    font-size: 15pt;
    }
#paragraph2 {
        font-family: "Times New Roman", cursive;
        font-size: 13pt;
        color: red;
    }
footer {
      text-align: center;
    }